<md-toolbar color="primary">
  <button routerLink="/login" md-button>
    <span>Login</span>
    <md-icon>account_box</md-icon>
  </button>
  <button routerLink="/dates" md-button>
    <span>Dates</span>
    <md-icon>date_range</md-icon>
  </button>
  <span class="example-spacer"></span>
  <span *ngIf="loggedIn">{{name}}</span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button (click)="logout()" md-menu-item>
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>